body {
	font-family:"微软雅黑";
}

#outline {
	width:100%;
	text-align:center;
}

#title {
	width:70%;
	height:90px;
	margin-left:15%;
	padding-top:40px;
	vertical-align:bottom;
}

#line {
	background-color:#7FB873;
	width:70%;
	height:15px;
	margin-left:15%;
	text-align:center;
	vertical-align:center;
	color:#FFF;
}

#center {
	width:60%;
	text-align:left;
	margin-left:35%;
	padding-top:50px;
}
	
	input {
		margin:10px;
		border-left:none;
		border-right:none;
		border-top:none;
		border-bottom-color:#7FB873;
		border-bottom-width:2px;
	}

	#submit {
		background-image:url(img/submitbtn.png);
		font:"微软雅黑";
		width:60px;
		height:20px;
		border:none;
	}
	
#echo {
	text-align:center;
	margin-top:50px;
}